.colors__list {
  display: flex;
  flex-direction: column;
  height: 610px;
  max-width: 610px;
  margin-left: 150px;
  margin-top: 82px;
  margin-bottom: 145px;
  justify-content: space-between;

  &-item {
    display: flex;
    flex-direction: row;
  }
}
.colors__item-box {
  display: block;
  height: 70px;
  width: 70px;
  border-radius: 6px;
}
.colors__item-text {
  margin: 0px;
  display: flex;
  margin-left: 30px;
  justify-content: center;
  flex-direction: column;
  line-height: 29px;
  color: $dark-100;

  &__title{
    font-family: $secondFont;
  }
  &__desc {
    display: flex;
    margin: 0px;
    font-weight: 400;
    font-family: $mainFont;
  }
}



.types__list {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 403px;
  margin-top: 82px;
  &-item{
    display: flex;
    flex-direction: row;
  }
  &-title {
    width: 37px;
    text-align: left;
    font-family: $mainFont;
    text-transform: uppercase;
    font-weight: normal;
    color: $dark-25;

    &__body {
      text-transform: none;
      font-family: $mainFont;
      font-weight: normal;
      color: $dark-25;
    }
  }
  &-description {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    width: 336px;
    margin-left: 30px;
    font-family: $secondFont;
    font-weight: bold;
    color: $dark-25;
  }
}


.body {
  text-transform: none;
  font-family: $mainFont;
  font-weight: normal;
  color: $dark-75;
  margin-bottom: 0px;
}