@import './mixins.scss';

// Font
$mainFont                : 'Montserrat', sans-serif;
$secondFont              : 'Quicksand', sans-serif;
// Size
$mainFontColor           : #101010;
$mainFontSize            : 14px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;

$desktopWidth            : 1440px;
$smDesktopWidth          : 980px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

// Main Colors

$dark-100: rgba(31,32,65, 1);
$dark-75:rgba(31,32,65, 0.75);
$dark-50: rgba(31,32,65, 0.50);
$dark-25: rgba(31,32,65, 0.25);
$dark-10: rgba(31,32,65, 0.1);
$dark-5: rgba(31,32,65, 0.05);
$purple: #BC9CFF;
$green: #6FCF97;

// Gradients

$primary-gradient: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
$secondary-gradient: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);

h1 {
  font-size: 1.5rem;
  line-height: 1.875rem;
}

h2 {
  font-size: 1.1875rem;
  line-height: 1.875rem;
}

h3 {
  font-size: 0.75rem;
  line-height: 0.9375rem;
}

h1, h2 {
  font-family: $secondFont;
  font-style: normal;
  font-weight: bold;
}

h3 {
  font-family: $mainFont;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
}