mixin colors-type(color)
  .colors-type__logo
    img(src="./assets/img/logo-min.svg", alt="logo")
  ul.colors-type__colors
    each item in color
      li.colors-type__colors-item
        .colors-type__colors-item__box(style={opacity: item.opacity, background: item.hex})
        .colors-type__colors-item__text 
          h2.colors-type__colors-item__text-title= item.name
          p.colors-type__colors-item__text-desc= item.hex