mixin colors-type
  section.colors-type
    .colors-type__logo
      img(src="./assets/img/logo-min.svg", alt="logo")
    ul.colors-type__colors
      li.colors-type__colors-item
        .colors-type__colors-item__box.color-100
        .colors-type__colors-item__text 
          | Dark Shade 100% #[br] #1F2041
      li.colors-type__colors-item
        .colors-type__colors-item__box.color-75
        .colors-type__colors-item__text 
          | Dark Shade 75% #[br] #1F2041
      li.colors-type__colors-item
        .colors-type__colors-item__box.color-50
        .colors-type__colors-item__text 
          | Dark Shade 50% #[br] #1F2041
      li.colors-type__colors-item
        .colors-type__colors-item__box.color-25
        .colors-type__colors-item__text 
          | Dark Shade 25% #[br] #1F2041
      li.colors-type__colors-item
        .colors-type__colors-item__box.color-05
        .colors-type__colors-item__text 
          | Dark Shade 5% #[br] #1F2041
      li.colors-type__colors-item
        .colors-type__colors-item__box.color-purple
        .colors-type__colors-item__text 
          | Purple #[br] #BC9CFF
      li.colors-type__colors-item
        .colors-type__colors-item__box.color-green
        .colors-type__colors-item__text 
          | Green #[br] #6FCF97