.header {
  display: flex;
  width: 100%;
  max-width: 1440px;
  height: 70px;
  padding: 0px;

  .logo {
    margin-top: 15px;
    margin-left: 140px;
  }
  
  &__nav {
    display: flex;
    flex-direction: row;
    margin-left: 297.31px;

    &__link {
      display: block;
      margin-top: 26px;
      margin-bottom: 26px;
      margin-right: 30px;
      color: $dark-50;
    } 
  }
  .active {
    font-weight: bold;
    color: $dark-75;
  }

  i {
    margin-left: 0px;
    margin-top: 25px;
    margin-bottom: 24px;
    margin-right: 20px;
  }
  &__login-register {
    display: flex;
    align-items: center;
    justify-content: center;

    &__logged {
      display: inline-block;
      border-left: 1px solid $dark-10;
      color: $dark-50;
      padding-left: 30px;
      height: 30px;
      line-height: 30px;
      margin-top: 26px;
      margin-bottom: 26px;
  }

    .button {
      width: 101px;
      height: 34px;
      margin-top: 18px;
      margin-bottom: 18px;

      &-transparent {
        width: 79px;
        height: 34px;
        margin-right: 20px;
        margin-bottom: 18px;
      }
    }
  }
}