extends ../layout/main
include ../includes/modules/header/header
include ../includes/modules/colors-type/colors-type

block head

block variables
    - var title = 'FSD 2nd Task';
    - var description = 'Artur Sholomko intern';
    - var pageClass = 'landing-page';

block header
  +header({
    logged: true
  })
block colors-type
  +colors-type({})