extends ../layout/main

block head

block variables
    - var title = 'FSD 2nd Task';
    - var description = 'Artur Sholomko intern';
    - var pageClass = 'landing-page';

block header
    include ../includes/modules/header/header
    +header({
      logged: true
    })