extends ../layout/main
include ../includes/modules/header/header
include ../includes/modules/colors-type/colors-type

block head

block variables
    - var title = 'FSD 2nd Task';
    - var description = 'Artur Sholomko intern';
    - var pageClass = 'landing-page';
    - var currentURL = 'index.html';

block header
  +header({
    isLogged: false}, 
    {title: 'Home', href: 'index.html'}, 
    {title: 'About us', href: '#'},
    {title: 'Services', href: '#'},
    {title: 'Careers', href: '#'},
    {title: 'News', href: '#'},
    {title: 'Documentation', href: '#'})
block colors-type
  +colors([
    {'name' : 'Dark Shade 100%','hex' : '#1F2041', 'opacity' : '1'}, 
    {'name' : 'Dark Shade 75%','hex' : '#1F2041', 'opacity' : '0.75'},
    {'name' : 'Dark Shade 50%','hex' : '#1F2041', 'opacity' : '0.5'},
    {'name' : 'Dark Shade 25%','hex' : '#1F2041', 'opacity' : '0.25'},
    {'name' : 'Dark Shade 5%','hex' : '#1F2041', 'opacity' : '0.05'},
    {'name' : 'Purple','hex' : '#BC9CFF', 'opacity' : '1'},
    {'name' : 'Green','hex' : '#6FCF97', 'opacity' : '1'}])
  +type([
    {'tag' : 'H1', 'size' : '24px', 'height' : '29px', 'description' : 'This one is the sub-section or widget title'},
    {'tag' : 'H2', 'size' : '19px', 'height' : '23px', 'description' : 'Next one is the item title inside widgets'},
    {'tag' : 'H3', 'size' : '12px', 'height' : '15px', 'description' : 'This is a label or CTA text'},
    {'tag' : 'Body', 'size' : '14px', 'height' : '24px', 'description' : 'This is the body text which is used for most of the design, like paragraphs, lists, etc.'}])