extends ../layout/main

block variables
  - var title = 'FSD webpack';
  - var description = 'FSD 2nd task';
  - var pageClass = 'index-page';

block content
  section
    .container
      +item('item title', 'item descr')
      +item('item title', 'item descr')
      +item('item title', 'item descr')