.inner
  .logo
    img(src="./assets/img/logo.svg", alt="logo")
  nav.menu
    ul.menu__list 
      li.menu__item.menu__item__bold
        a.menu__link(href="#") Home
      li.menu__item
        a.menu__link(href="#") Aboutus
      li.menu__item
        a.menu__link(href="#") Services
      li.menu__item
        a.menu__link(href="#") Careers
      li.menu__item
        a.menu__link(href="#") News
      li.menu__item
        a.menu__link(href="#") Documentation
  .btn
    .btn__login
      a LOGIN
    .btn__register 
      a Register