header.header
  img.logo(src="./assets/img/logo.svg", alt="logo")
  nav.menu
    ul.nav-bar
      li.nav-bar__home Home
      li.nav_bar__about About us
      li.nav_bar__services Services
      li.nav_bar__careers Careers
      li.nav_bar__news News
      li.nav_bar__documentation Documentation
  .button
    .button__login Login
    .button__register Register