include ../form-elements/buttons/buttons

mixin header(options)
  header.header
    .logo
      img(src="./assets/img/logo.svg", alt="logo")
    nav.header__nav
      a.header__nav__link.header__nav__link-bold(href="#") Home
      a.header__nav__link(href="#") About us
      a.header__nav__link(href="#") Services
      i.header__nav__link.material-icons keyboard_arrow_down
      a.header__nav__link(href="#") Careers
      a.header__nav__link(href="#") News
      a.header__nav__link(href="#") Documentation
    .header__login-register
      if options.logged
        span.header__login-register__logged Name Surname
      else
        +button({
          value: "LOGIN",
          class: "button-transparent button-login"
        })
        +button({
          value: "REGISTER",
          class: "button button-register"
        })