include ../form-elements/buttons/buttons

mixin header(login, ...items)
  header.header
    .logo
      img(src="./assets/img/logo.svg", alt="logo")
    nav.header__nav
      each item in items
        a.header__nav__link(href=item.href class= currentURL == item.href ? 'active' : '')= item.title
        if item.title == 'Services'
          i.header__nav__link.material-icons keyboard_arrow_down
    .header__login-register
      if login.isLogged
        span.header__login-register__logged Name Surname
      else
        +button({
          value: "LOGIN",
          class: "button-transparent button-login"
        })
        +button({
          value: "REGISTER",
          class: "button button-register"
        })