include ../utils/mixins
block variables

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title #{title}
    meta(name="description", content=description)
    link(rel="stylesheet", href="main.css")
    block head

  body(class=pageClass)
    .wrapper
        include ../includes/modules/header/header
        .content-wrapper
          block content