.colors-type {


  &__logo {
    margin-top: 15px;
    margin-left: 15px;
  }

  &__colors {
    display: flex;
    flex-direction: column;
    height: 610px;
    width: 270px;
    margin-left: 150px;
    margin-top: 145px;
    margin-bottom: 145px;
    justify-content: space-between;

    &-item {
      display: flex;
      flex-direction: row;

      &__box {
        display: block;
        height: 70px;
        width: 70px;
        border-radius: 6px;
      }
      &__text {
        display: flex;
        margin-left: 30px;
        justify-content: center;
        font-family: $secondFont;
        color: $dark-100;

        h2 {
          display: flex;
          align-content: flex-start;
          justify-content: center;
        }
        p {
          display: flex;
          align-content: flex-start;
          justify-content: center;
        }
      }
    }
  }
}

span {
  font-family: $mainFont;
  font-weight: normal;
}